[submodule "site/themes/docsy"]
	path = site/themes/docsy
	url = https://github.com/google/docsy
[submodule "serverless/onnx/farming_cvat_models"]
	path = serverless/onnx/farming_cvat_models
	url = git@github.com:farming-revolution/farming_cvat_models.git
